.about-me {
    position: relative;
    display: flex;
    margin-top: 120px;
}

.about-me__container {
    margin: 20px;
}

.about-me__content {
    display: flex;
    flex-direction: column;
}


@media screen and (max-width:960px) {
    .about-me {
        flex-direction: column;
        gap: 25px;
    }

    .about-me__container {
        margin: auto;
        width: 70%;
        gap: 20px;
    }

    .about-me__content {
        gap: 20px;
    }
}

@media screen and (max-width:650px) {
    .about-me {
        flex-direction: column;
        margin: 40px;
        gap: 25px;
    }

    .about-me__container {
        width: 100%;
    }

    .about-me__content {
        gap: 20px;
    }
}